*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration-line: none;
    color: #FF0000;
}
.main{
    position: relative;
    width: 820px;
    height: 391px;
    /*background-color: #ff9520;*/
    margin: 80px auto;

}
.ID,passWord,tle,emile{
    width: 820px;
    height: 41px;

}
.lb{
    display: inline-block;
    text-align: right;
    line-height: 41px;
    margin: 0;
    width: 228px;
    height: 41px;
    padding: 20px;
}
.lb::before{
    display: inline-block;
    margin-right: 4px ;
    content: '*';
    color: red;
}
.t1{
    width: 298px;
    height: 38px;
    margin-top: 10px;
    padding: 0 12px;

    outline: none;
    vertical-align: baseline;

}
.passWord{
    margin-top: 20px;
}
input:hover{
    border: solid  1px #ff6700;
}
input{
    border: 1px solid #ccc
}
#last{
    position:absolute ;

    left: 228px;
    width: 70px;
    height: 40px;
    display: inline-block;
    outline: none;
    border: none;
    margin-top: 20px;
    width: 70px;
    height: 40px;
    background-color: #ff6700;

}
#last:hover{
    background-color: #ff2831;
}
a{
    color: #f02324;

    line-height: 40px;
}
p{
    display:inline-block;
    padding-left: 28px;
    text-align: center;
    font-size: 14px;

    background: url("../img/icoimg/提示.png") no-repeat left -8px;
}
.bod{
    border: #888888 solid 1px;
    width: 1200px;
    height: 500px;
    /*background-color: #ff332c;*/
    margin: 20px auto;
    overflow: hidden;

}
h3{ margin-top: 0px;
    width: 100%;
    height: 40px;
    /*background-color: rgba(230, 128, 87, 0.76);*/
    border-bottom: #888888 solid 1px;
}
.nav-login{
    height: 39px;
    width: 180px;
    float: right;
    background-color: #ececec;
}
h3{
    font-size: 16px;
    background-color: #ececec;
    line-height: 40px;
    font-weight: normal;
}
header{
    position: relative;
    height: 140px;
    width: 1200px;
    margin: 0 auto;
    border-bottom: #FF0000 2px solid;
}
header div{
    position: absolute;
    top: 30px;
    width: 106px;
    height:79px;

}